body {
    background:#eeeeee;
    color:#444444;
    font-family:Roboto, 'Gibson', sans-serif;
    font-size:100%;
    line-height:1.5;
    margin:0px;
    word-wrap:break-word;
}

a {
    color:#7bd7c2;
    text-decoration:none;
}

a:hover {
    color:#777777;
}

a img {
    border:none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
    margin:0px;
    padding:0px;
}

img {
    max-width:100%;
    height:auto;
}

.header {
    padding:150px 0px;
    text-align:center;
    width:100%;
    background:url('galaxygoats.jpg') center;
}


.header h1 {
    border-bottom:4px solid #ffffff;
    border-top:4px solid #ffffff;
    display:inline-block;
    font-family:'Brutal Type', sans-serif;
    font-weight:bold;
    padding:8px 16px;
    text-transform:uppercase;
}

.header a {
    color:#ffffff;
}

nav {
    background:#ffffff;
    margin:0px;
    padding:0px;
    position:relative;
    text-align:center;
    width:100%;
}

nav a, nav a:hover {
    color:#444444
}

nav ul {
    font-weight:bold;
    list-style:none;
    margin:0px auto;
    padding:0px;
    text-transform:uppercase;
}

nav li {
    border-bottom:3px solid #ffffff;
    display:inline-block;
    font-size:16px;
    margin:0px auto;
    padding:16px 24px;
}

nav li:hover {
    border-bottom:3px solid #444444;
}

/* MEDIA QUERIES FOR RESPONSIVE LAYOUT */
@media (min-width:1020px) {
    .wrapper { width:990px; }
    .sidebar { margin:0px 0px 0px 730px; width:260px; }
    .content { float:left; width:675px; }
    .sbcontainer { margin:0 0 10% 0; padding:15%; }
}

@media (min-width:750px) and (max-width:1019px) { /* one column */
    .wrapper { width:675px; }
    .sidebar { clear:both; }
    .sbcontainer { margin:5% 0; padding:10%; }
}

@media (max-width:749px) { /* one column */
    .wrapper { width:90%; }
    .sidebar { clear:both; }
    .sbcontainer { margin:5% 0; padding:10%; }
}

.wrapper { margin:0 auto; padding:4% 0 0 0; }

.sidebar {
    text-align:center;
}

.sbcontainer {
    background:#ffffff;
}

.sbcontainer h2 {
    border-bottom:1px solid #ccc;
    margin:0px 0px 12px 0px;
    padding:0px 0px 8px 0px;
}

.desc {
    text-align:left;
}

ul.links {
    border:1px solid #ccc;
    list-style:none;
    margin:24px 0px 0px 0px;
    padding:0px 24px 24px;
    text-transform:uppercase;
}

.linktitle {
    background:#ffffff;
    display:inline-block;
    padding:0px 16px;
    position:relative;
    top:-11px;
}

ul.links li {
    margin:0;
    padding:8px 0px;
}

.container {
    background:#ffffff;
    margin:0 0 5% 0;
    padding:8%;
}

.containerhead{
    border-top:1px solid #ccc;
    text-align:center;
    text-transform:uppercase;
}

.title {
    background:#ffffff;
    display:inline-block;
    padding:0px 16px;
    position:relative;
    top:-12px;
}

.containerfoot {
    border-top:1px solid #ccc;
    font-size:14px;
    text-align:center;
}
